@media (max-width: 767px) {
  .tag-line { display: none }
  #title-bar p { display: none; }
  .note {
    background-color: rgb(183, 232, 226)!important;
    border: 1px solid #dee2e6!important;
    border-radius: 0.25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
}

/* root font size settings */
:root {
  font-size: 16px;
}
@media (max-width: 400px) {
  :root {
    font-size: 12px!important;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  :root {
    font-size: 14px!important;
  }
}

body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(183, 232, 226);
  background-image: linear-gradient(rgba(183, 232, 226, 0.95), rgba(183, 232, 226, 0.95)),
                    url('./bg/food-bg2.jpg')
}

form, body {
  scrollbar-width: thin;
  scrollbar-color: steelblue #92b6d5;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #92b6d5;
}

*::-webkit-scrollbar-thumb {
  background-color: steelblue;
  border-radius: 20px;
  border: 3px solid #92b6d5;
}

/* NavBar styles */

#nav-bar{
  margin-top: 10px;
  background-color: lightcyan;
  border: 1px solid #343a40;
}

.dropdown-wrapper {
  position: relative;
  user-select: none;
}

.nav-drop { 
  position: relative;
  display: flex;
  flex-direction: column;
}

#app-dropdown { min-width: 250px; }
#sub-dropdown { min-width: 405px; }
@media (max-width: 400px) {
  #sub-dropdown, #app-dropdown {
    min-width: 90vw!important;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  #sub-dropdown{ min-width: 360px; }
}

@media (max-width: 767px) {
  .tag-line {
    display: none;
  }
}

.dropdown-curr { 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3b3b3b;
  height: 1.2em;
  line-height: 1.2em;
  background: lightcyan;
  cursor: pointer;
}

.dropdown-opt-list {
  position: absolute;
  display: none;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background-color: lightcyan;
  pointer-events: none;
  z-index: 2;
}
.dropdown-curr:focus { background-color: white; }
.dropdown-curr:hover { background-color: white; }
.dropdown-opt {
  position: relative;
  display: block;
  font-size: 2rem!important;
  padding: 0 20px;
  color: #3b3b3b;
  background-color: lightcyan;
  line-height: 2.5rem;
  cursor: pointer;
}
.dropdown-opt:focus { background-color: white; }
.dropdown-opt:hover { background-color: white; }
.drop-show { display: block; pointer-events: all; }

.tag-line {
  font-style: italic;
}

.title {
  font-family: 'Reggae One', cursive;
}
/* End NavBar Styles */

article { font-weight: bold; }

form { overflow-x: auto; }

fieldset {
  background-color: lightgrey;
  min-width: 160px;
  width: 180px;
  height: 200px;
}

fieldset input { margin-right: 0.5rem; }

legend, h4 {
  font-size: 34px;
  font-family: Damion, cursive
}

legend {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

section {
  padding: 1rem;
}

.note {
  background-color: rgb(183, 232, 226);
  border-radius: 0.40rem;
  box-shadow: 0 .5rem 1rem rgb(183, 232, 226, .15);
}

/* skill list specific settings */

.card-header { background-color: lightcyan;}
.card-header > svg  { cursor: pointer; }
.card-header > svg > path { pointer-events: none; }
.card-body > p      { display: none; }
.card-body > .show  { display: block; }
